<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MTGA Pro Tracker" Language="1033" Version="1.6.6.0" Manufacturer="Razviar" UpgradeCode="5134c97f-353e-4e39-8784-d0912955bc85">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of MTGA Pro Tracker is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Icon Id="icon5.ico" SourceFile="icon5.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon5.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MTGA Pro Tracker" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MTGA Pro Tracker"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="c0a76b5a-12ab-45c5-b9d9-d693faa6e7b9">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="MTGA Pro Tracker"
           Description="MTGA Pro Tracker"
            Target="[INSTALLFOLDER]MTGAPro.exe"
                  WorkingDirectory="INSTALLFOLDER">
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MTGAProTracker" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveRegistryKey Id="CleanupRegistry"
                           Root="HKCU"
                           Key="Software\MTGAProtracker"
                           Action="removeOnUninstall"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.MTGApro.TargetPath)" />
      </Component>
      <Component Id="Debugging">
        <File KeyPath="yes" Source="$(var.MTGApro.TargetDir)\MTGApro.pdb" />
      </Component>
    </ComponentGroup>
   
		<Feature Id="ProductFeature" Title="MTGA Pro Tracker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>
    
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="setupbanner2.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="setupbanner1.jpg" />
    
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch MTGA Pro" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#MTGApro.exe]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />
	</Product>

</Wix>
